body{
font-family:Arial;
margin:0;
background:#0f172a;
color:white;
}

.layout{
display:flex;
}

.sidebar{
width:220px;
background:#020617;
height:100vh;
padding:20px;
}

.sidebar h2{
color:#facc15;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:10px;
margin:8px 0;
border-radius:6px;
}

.sidebar a:hover{
background:#1e293b;
}

.logout{
margin-top:40px;
color:#ef4444;
}

.main{
flex:1;
padding:40px;
}

.section{
display:none;
}

.section.active{
display:block;
}

.cards{
display:flex;
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:8px;
width:200px;
}

.card p{
font-size:28px;
font-weight:bold;
color:#facc15;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
background:#020617;
}

th,td{
padding:12px;
border-bottom:1px solid #334155;
text-align:left;
}

.form{
margin-bottom:20px;
}

.form input{
padding:10px;
margin-right:10px;
border-radius:5px;
border:none;
}

button{
background:#facc15;
border:none;
padding:10px 16px;
border-radius:6px;
cursor:pointer;
}

.delete{
color:#ef4444;
text-decoration:none;
font-weight:bold;
}