body{
font-family:Arial;
margin:0;
background:#0f172a;
color:white;
}

.layout{
display:flex;
}

.sidebar{
width:220px;
background:#020617;
height:100vh;
padding:20px;
}

.sidebar h2{
color:#22c55e;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:10px;
margin:8px 0;
border-radius:6px;
}

.sidebar a:hover{
background:#1e293b;
}

.logout{
margin-top:40px;
color:#ef4444;
}

.main{
flex:1;
padding:40px;
}

.section{
display:none;
}

.section.active{
display:block;
}

.cards{
display:flex;
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:8px;
width:200px;
}

.card p{
font-size:20px;
font-weight:bold;
color:#22c55e;
}

.card-large{
background:#1e293b;
padding:30px;
border-radius:10px;
}

table{
background:#020617;
padding:20px;
border-radius:10px;
width:400px;
}

td{
padding:10px;
border-bottom:1px solid #334155;
}

.announcement{
background:#1e293b;
padding:20px;
border-radius:8px;
margin-bottom:10px;
}
