<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCOPE INDIA</title>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="Css/style.css">
</head>
<body>
    <footer class="footer">
        <div class="footer-line"></div>

        <div class="footer-content">
            <p class="footer-locations">
               We are located at <strong>Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil, Tamil Nadu</strong> 
            </p>
            <p class="footer-contacts">
                9745936073 (TPK) &nbsp;&nbsp;  &nbsp;&nbsp;
                9745936073 (TVM) &nbsp;&nbsp;  &nbsp;&nbsp;
                7592939481 (EKM) &nbsp;&nbsp;  &nbsp;&nbsp;
                8075536185 (NGL) &nbsp;&nbsp;  &nbsp;&nbsp;
                <a href="mailto:info@scopeindia.org">info@scopeindia.org</a>
            </p>

            <p class="footer-rights">
               All Rights Reserved &nbsp;&nbsp;  &nbsp;&nbsp;
               <a href="https://www.suffixesolutions.com/"><strong>SCOPE INDIA & SUFFIX SOLUTIONS PRIVATE LIMITED</strong></a>&nbsp;&nbsp;  &nbsp;&nbsp;
               © 2007-2025  &nbsp;&nbsp;  |&nbsp;&nbsp;&nbsp;&nbsp; 
               <a href="https://scopeindia.org/privacy-policy.html">Privacy Policy </a>&nbsp;&nbsp;|&nbsp;&nbsp; 
               <a href="https://scopeindia.org/blog.html">Blog</a>
        </div>
    </footer>  
</body>
</html>