<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SCOPE INDIA</title>
  <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="Css/style.css">
</head>
<body style="background-color: #050f38;">
  <img class="bg-image">
  <header class="main-header">
   <div class="container-header">
    <img src="Assets\scopeindialogo.jpg" alt="Scope India Logo" class="logo">
    <img src="Assets\google-rating.webp" alt="Google Rating" class="google-rating">
    <nav class="navbar">
      <ul>
        <li><a href="#" class="active">HERO</a></li>
        <li><a href="#">COURSES</a></li>
        <li><a href="#" class="highlight">REGISTRATION</a></li>
        <li><a href="#">PLACEMENTS</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">REVIEWS</a></li>
        <li><a href="#">CONTACT US</a></li>
      </ul>
    </nav>
   </div>
  </header>
  <div class="social-block">
    <div class="socials">
          <a href="#" class="photos"><img src="Assets\imagesicon.png" alt="Top"></a>
          <a href="#" class="instagram"><img src="Assets\Instagram-icon.png" alt="Instagram"></a>
          <a href="#" class="call"><img src="Assets\call-icon.png" alt="Call"></a>
          <a href="#" class="whatsApp"><img src="Assets\whatsapp-icon.png" alt="WhatsApp"></a>
    </div>
  </div>
</body>
</html>
